#chatContainer{
    position: fixed;
    right: 30px;
    bottom: 10px;
}


#notification{
    width: 300px;
}

#chatWindow{
    width: 300px;
    padding: 15px;
    background-color: #eaeef2;
    visibility: hidden;
    border:1px solid #333;
}

#message{
    width: 100%;
}

#board{
    width: 100%;
    height: 300px;
    overflow: scroll;
    padding-left: 0;

}

#board>li{
    list-style:none;
}

#nameText{
    width: 100%;
}

#nameText{
    width: 100%;
    height: 25px;
}

#msg{
    width: 100%;
    height: 60px;
    margin: 2px auto;
}

.msgBlock{
    width: 100%;
    margin-top:10px;
}

.date{
    display: block;
    width: 100%;
    font-size: 0.6em;
    text-align: right;
    margin: 0;
}

.name{
    margin: 0 0 5px 0;
    width:100%;
    text-align: left;
    display: block;
}

.msgLine{
    margin: 0;
    width: 100%;
    text-align: left;
    display: block;
}